/*!
 * Reset
 * makes browsers render all elements more consistently and in line with modern standards.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

:root {
  font-family: var(--ff-primary), var(--ff-secondary), Neue Montreal;
  line-height: 1.5;
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-primary-font);
}

html {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: var(--color-secondary-background);

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-red);
  color: var(--color-light-pink);
}

a {
  font-weight: var(--fw-bold);
  color: var(--color-primary-font);
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:hover > :first-child,
a:focus > :first-child {
  text-decoration:underline;
  text-decoration-color: var(--color-yellow);
  text-decoration-thickness: 3px;
}

/*Lage for forskjelige med eks a[class] eller a [href="#"]*/


body {
  background-color: var(--color-primary-background);
}
body::before,
body::after {
  content: "";
  position: fixed;
  background: var(--color-primary-background);
  left: 0;
  right: 0;
  height: 3px;
}
body::before {
  top: 0;
}
body::after {
  bottom: 0;
}
body {
  border-left: 3px solid var(--color-primary-background);
  border-right: 3px solid var(--color-primary-background);
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  outline-offset: 1px;
}

:where(:not(:active):focus-visible) {
  outline-offset: 1px;
}

/*NB! ???*/
@media (--motionOK) {
  :where(:focus-visible) {
    transition: outline-offset 145ms var(--ease-2);
  }

  :where(:not(:active):focus-visible) {
    transition-duration: 0.25s;
  }
}