/*!
 * Animation
 * @tutorial https://web.dev/learn/css/animations/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/animations-transitions
 */

@keyframes skeleton-loader {
  0% {
    background-color: var(--color-secondary-background);
  }

  100% {
    background-color: var(--color-secondary-background);
  }
}

.loader {
  width: 100%;
  height: 4px;
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader-bar {
  width: 0%;
  height: 100%;
  background-color: var(--color-red);
  animation: loaderAnimation 2s linear infinite alternate;
}

@keyframes loaderAnimation {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}