/*!
 * Forms
 * form classes use the c- prefix to indicate they are components used in layout.
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-2/forms
 */

.c-form {
  display: grid;
  grid-template-columns: repeat(var(--column-count-1), 1fr);
  border: var(--bw-regular) solid var(--color-primary-border);
}

.c-form>div {
  display: flex;
  border: var(--bw-regular) solid var(--color-primary-border);
}

.c-form label {
  display: flex;
  align-items: flex-start;
  text-align: center;
  padding: 1%;

  white-space: nowrap;
  overflow: hidden;
  word-wrap: none;
}

.c-form input {
  width: 100%;
  display: flex;
  align-items: flex-end;
  text-align: left;

  padding: 1%;
  margin: 1% auto;

  border: none;
  background-color: transparent;
}