/*!
 * Reset
 * Makes browsers render all elements more consistently and in line with modern standards.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

 :root {
  font-family: var(--ff-primary), var(--ff-secondary), Neue Montreal;
  line-height: 1.5;
  font-weight: var(--fw-regular);
  font-size: var(--fs-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: var(--color-primary-font);
}

html {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: var(--color-secondary-background);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--color-red);
  color: var(--color-light-pink);
}

a {
  font-weight: var(--fw-bold);
  color: var(--color-primary-font);
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:hover > :first-child,
a:focus > :first-child {
  text-decoration: underline;
  text-decoration-color: var(--color-yellow);
  text-decoration-thickness: 3px;
}

body {
  background-color: var(--color-primary-background);
  border-left: 3px solid var(--color-primary-background);
  border-right: 3px solid var(--color-primary-background);
  margin: 0;
}

body::before,
body::after {
  content: "";
  position: fixed;
  background: var(--color-primary-background);
  left: 0;
  right: 0;
  height: 3px;
}

body::before {
  top: 0;
}

body::after {
  bottom: 0;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  place-items: flex-start;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(62px, auto) 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.l-header {
  display: flex;
  flex-direction: column;
  grid-area: header;
  width: 100%;
  padding: var(--size-fluid-1);
  margin: 0 auto;
}

.l-navbar {
  display: flex;
  flex-direction: column;
  padding: var(--size-fluid-1);
  margin: 3% auto 0;
  width: 95%;
}

.l-navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.l-main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding: var(--size-fluid-2);
  margin: 0 auto;
  width: 95%;
  border: var(--bw-regular) solid var(--color-primary-border);
}

.l-footer {
  display: flex;
  flex-direction: column;
  grid-area: footer;
  padding: var(--size-fluid-1);
  margin: 0 auto;
  width: 95%;
  border: var(--bw-regular) solid var(--color-primary-border);
}

.l-content {
  flex: 1 0 auto;
  min-height: 80px;
}

.l-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.l-latest-post {
  width: 93%;
  grid-area: title;
  position: absolute;
  z-index: 4;
}

.l-about {
  width: 100%;
  padding-bottom: 5%;
  padding-right: 20%;
}
