/*!
 * UI
 * Place all your regular CSS here. If you don't know where to write your css, write it here.
 * @tutorial https://web.dev/learn/css/flexbox/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/media-queries
 */

/*Header*/
.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  background: var(--color-secondary-background);

  border: var(--bw-regular) solid var(--color-primary-border);
}

.page-title h1 {
  color: var(--color-primary-background);
}

/* NAV */

.c-navbar li {
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.c-navbar li:first-child {
  background-color: var(--color-primary-cta);
}

.c-navbar li:last-child {
  background-color: var(--color-secondary-cta);
}

/* - Logo */
.c-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  min-width: 280px;
  height: 60px;

  background: var(--color-secondary-background);

  border: var(--bw-regular) solid var(--color-primary-border);
}

/* -- Logo text*/
.c-logo>* {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: var(--color-primary-background);

  height: inherit;
}

/*NB! Burde være form utenfor nav ul?*/
.c-search {
  min-width: 190px;
  height: 60px;

  border: var(--bw-regular) solid var(--color-primary-border);

  flex-grow: 2;
}

.c-search a {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;

  height: inherit;
}

/* - Hamburger menu */

.c-hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  min-width: 90px;
  height: 60px;

  background-color: var(--color-primary-cta);

  border: var(--bw-regular) solid var(--color-primary-border);
}

.c-hamburger-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: inherit;
}

.c-hamburger-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  height: 19px;
}

.bar {
  width: 36px;
  height: 4px;

  background-color: var(--color-secondary-background);
}


/* - Card Component*/

.c-card {
  width: 100%;

  border: var(--bw-regular) solid var(--color-primary-border);
}

.c-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
  margin-bottom: 20px;

  min-width: 280px;
}

.c-title::before {
  font-family: "material icons";
  font-size: var(--fs-xxl);
  content: "\e9ef";

  color: var(--color-primary-font);
}

.hero-image {
  max-width: 650px;
  min-width: 280px;
  min-height: 180px;
  object-fit: cover;
  margin: 0 auto;
  flex-shrink: 0;
}

.accordion-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.accordion-content[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

.accordion-content>div {
  overflow: hidden;
}

.accordion {
  background: var(--color-primary-background);
  color: var(--color-primary-font);
}

.accordion-panel {
  padding: 1rem;
  border: var(--bw-regular) solid var(--color-primary-border);
}

.accordion h2 {
  position: relative;
}

.accordion-trigger {
  background: transparent;
  border: 0;
  font: inherit;
  color: inherit;
}

.accordion-trigger::before,
.accordion-trigger::after {
  position: absolute;
  right: 1em;
  content: "";
  display: block;
  width: 1em;
  height: 5px;
  background: currentcolor;
  transition: transform 600ms;
}

.accordion-trigger::after {
  rotate: 90deg;
  translate: 0 -1.5em;
}

.accordion-trigger[aria-expanded="true"]::before,
.accordion-trigger[aria-expanded="true"]::after {
  transform: rotate(45deg);
}


.b-cta {
  min-width: 280px;
  height: 60px;
  background: var(--color-secondary-background);
  border: 0;

  width: inherit;
  font: inherit;
  color: var(--color-light-pink);
}