/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

/* Import Fonts */
@font-face {
  font-family: 'PP Gosha Sans Bold';
  src: url('/assets/fonts/PPGoshaSans-Bold.woff2') format('woff2'),
    url('/assets/fonts/PPGoshaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.12em;
}

@font-face {
  font-family: 'PP Gosha Sans Regular';
  src: url('/assets/fonts/PPGoshaSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/PPGoshaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.12em;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Site Variables */
:root {
  /* Colors */
  --color-primary-background: var(--color-beige);
  --color-secondary-background: var(--color-black);
  --color-primary-font: var(--color-black);
  --color-primary-border: var(--color-black);
  --color-primary-shadow: var(--color-dark-black);
  --color-primary-cta: var(--color-pink);
  --color-secondary-cta: var(--color-light-blue);
  --color-dark-black: #1E1E1E;
  --color-black: #2C2B2B;
  --color-dark-blue: #0C4768;
  --color-light-blue: #96D7CE;
  --color-red: #F16E52;
  --color-yellow: #F9B95A;
  --color-pink: #F7D5E3;
  --color-light-pink: #FBEDF2;
  --color-beige: #FAEDE0;

  /* Fonts */
  --ff-primary: 'PP Gosha Sans Bold', 'PP Gosha Sans Regular';
  --ff-secondary: "Bebas Neue";

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 550;
  --fw-bold: 700;

  /* Font size */
  --fs-regular: 0.875rem;
  /* 14px */
  --fs-s: 0.75rem;
  /* 12px */
  --fs-m: 1.125rem;
  /* 18px */
  --fs-l: 1.25rem;
  /* 20px */
  --fs-xl: 1.5rem;
  /* 24px */
  --fs-xxl: 2.5rem;
  /* 40px */

  /* Border */
  --bw-regular: 2px;

  /* Grid */
  --column-count-1: 1;
  --column-count-2: 2;
  --column-count-3: 3;
  --column-count-4: 4;
}